/*Arrow Down*/
#arrow-down{
    position: absolute;
    top: 5px;
    left: 3%;
    padding: 10px;
    transform: translate(-10%,-10%);
}
#arrow-down span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #066aff;
    border-right: 5px solid #e6ff06;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}
#arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
#arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media screen and (max-width: 830px){
    #arrow-down{
    right: 3%;
    padding: 10px;
    }
    #arrow-down span{
        width: 10px;
        height: 10px;
    }
}
@media screen and (max-width: 600px){
    #arrow-down {
        display: none;
    }
} 
